<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/holo.css">

    <style>
    input[type=text]{
        box-sizing:border-box;
    }
    </style>

  </head>
  <body>
    <div class="page-container">
      	<!-- top navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    	<div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <ul class="nav navbar-nav">
           <li><input type="text" id="text-field" class="navbar-brand md-col-8 form-control" placeholder="Type your Name to start chatting"></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
           <li><button id="button-send" class="btn btn-primary">Connect</button></li>
           <li><button id="button-logout" class="btn btn-default">Logout</button></li>
         </ul>
    	</div>
    </nav>

      <div class="container-fluid">
        <div class="row">
          <span class="badge">Online: <span id="names"></span>

        </div>
        <div class="row">
                  </div>
        <div class="row">
          <table id="messages" class="table col-md-12">
            <% messages.forEach(function(message){ %>
              <tr>
                <td><%= message.doc.text %></td>
                <td><%= message.doc.sentfrom %></td>
                <td><%= message.doc.timestamp %></td>
              </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script type="text/javascript">
      var login = false;
      var socket = io();

      var names = document.getElementById('names');

      var newRow = function (msg) {
        var tr = document.createElement('tr');
        var tdText = document.createElement('td');
        tdText.appendChild(document.createTextNode(msg.text));
        var tdName= document.createElement('td');
        tdName.appendChild(document.createTextNode(msg.name));
        var tdDate= document.createElement('td');
        tdDate.appendChild(document.createTextNode(msg.timestamp));
        tr.appendChild(tdText);
        tr.appendChild(tdName);
        tr.appendChild(tdDate);
        var table = document.getElementById('messages');
        if (table.children[0].nodeName == "TBODY") {
          table.children[0].insertBefore(tr, table.children[0].firstChild);
        } else {
          table.insertBefore(tr, table.firstChild);
        }
        names.innerHTML = Object.keys(msg.names).toString();
      }
      socket.on('new message', newRow);

      var btn = document.getElementById('button-send');
      var logout = document.getElementById('button-logout');
      var textField = document.getElementById('text-field');

      var sendChat = function () {
        if (login && textField !== "") {
          socket.emit('send message', {
            message: textField.value,
            name: login
          });
          textField.value = "";
        } else {
          login = textField.value;
          if (login !== "") {
            btn.innerHTML = "Connecting";
            textField.value = "";
            textField.placeholder = "Type message...";
            btn.classList.add('disabled')
            socket.emit('login', {
              name: login
            });
            socket.on('joined', function (msg) {
              if (login == msg.name){
                login = msg.newNick;
                btn.classList.remove('disabled');
                btn.innerHTML = "Send Chat ("+login+")";
                logout.classList.remove('disabled');
                names.innerHTML = Object.keys(msg.names).toString();


              } else {
                login = false;
                btn.classList.remove('disabled')
                btn.innerHTML = "Try connecting again";
              }

            });
          }
        }
        // textField
      };
      btn.addEventListener('click', sendChat);
      logout.addEventListener('click', socket.emit('logout'));
      textField.addEventListener('keydown', function (e) {
        var keyCode = e.keyCode;
        if (keyCode == 13) {
          sendChat();
        }
      });

      socket.on('names', function (msg) {

      });

    </script>

  </body>
</html>
